/* Modo Claro (por defecto) */
:root {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
    --ion-color-primary: #3880ff;
    --ion-color-secondary: #3dc2ff;
    --ion-toolbar-background: #abc;
    --ion-toolbar-color: #000000;
  }
  
  /* Modo Oscuro */
  [data-theme='dark'] {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
    --ion-color-primary: #bb86fc;
    --ion-color-secondary: #03dac6;
    --ion-toolbar-background: #cbd;
    --ion-toolbar-color: #ffffff;
  }
  