ion-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  --ion-background-color: var(--ion-background-color);
  padding: 10px;
}

ion-button {
  font-size: 15px; /* Tamaño del texto */
  font-weight: bolder; /* En negritas */
}

ion-content {
  display: flex; /* Usamos flexbox */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100%; /* Asegura que ocupe toda la altura disponible */
}
